<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.sound.beep.sound</key>
	<string>/System/Library/Sounds/Morse.aiff</string>
	<key>com.apple.sound.beep.volume</key>
	<real>0.53388798236846924</real>
</dict>
</plist>
